<!DOCTYPE>
<html>
<head>
<title>parkaway</title>
<link rel="stylesheet" href="css/style.css">
<style>

</style>
</head>	
    <div>
        <h1 id="det">Reached your destination!</h1><br/>
        <h3 id="det1">Contact Details : +91<%= final[0].mobile %></h3>
    </div><br/><br/><br/>
    <div style="margin-left: 560px;" id="amount">
    <h1 id="amount1">
        Review you Experience
    </h1>
</div>
        <img src="images/park.png" alt="main image" id="mainimage">
    </div>
</html>