html,body{
	margin:0px;
	padding:0px;
	background-color:#000;
	font-family:dubai;
}
.form-container{
	border:2px solid; 
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
}
.form-container-signup
{
	border:2px solid; 
	top:45%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	height:90%;
	width:35%;
	
}
#det{
	margin-top:20px;
	color:#ff5c5c;
	font-family:calibri;
	font-size:60px;
	text-align:center;
}
.heading h1{
	
	color:#ff5c5c;
	text-align:center;
	font-family:calibri;
	font-size:45px;
}
#haa{
	height:50px;
	color:white;
	font-size:30px;
	width:250px;
	border-radius: 50px;
	margin-top:50px;
	margin-left:115px;
}

#haa1{
	height:40px;
	color:white;
	font-size:25px;
	width:170px;
	border-radius: 50px;
	margin-top:30px;
	margin-left:155px;
}

.set{
	height:90px;
	width:100px;
	margin:30px;
}
#imset{
	margin-left:530px;
	height:70px;
}
#mainimage{
	position:absolute;
	top:70%;
	left:0px;
	left:40px;
	height:250px;
	width:260px;
	left-padding:0px;
}
.main-img{
	
	position:absolute;
	top:70%;
	left:0px;
	left:40px;
	height:250px;
	width:250px;
	left-padding:0px;
}
.form-container-signup input{
	
	
	width:100%;
	height:5%;
	margin-top:30px;
	outline:none;
	background-color:black;
	color:white;
	font-size:16px;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:2px solid white;
}
.submitted input{
	
	border: 2px solid #ff5c5c;
	width:50%;
	height:8%;
	border-radius:20px;
	background-color:#ff5c5c;
	color:black;
	margin-top:30px;
	margin-left:115px;
}

.form-container-info{
	
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	height:90%;
	width:35%;
	
}
.form-container-info input{
	width:100%;
	height:5%;
	margin-top:60px;
	outline:none;
	background-color:black;
	color:white;
	font-size:16px;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:2px solid white;
}
.submit-info{
	
	margin-top:30px;
}
.submit-info input{
	
	border: 2px solid #ff5c5c;
	width:50%;
	height:8%;
	border-radius:20px;
	background-color:#ff5c5c;
	color:white;
	font-size:20px;
	margin-top:80px;
	margin-left:115px;
	
}
.link-back button{
	
	border: 2px solid #ff5c5c;
	width:30%;
	height:6%;
	border-radius:20px;
	background-color:#ff5c5c;
	color:white;
	margin-top:50px;
	margin-left:168px;
	
}
.link-back a{
	
	text-decoration:none;
	font-size:20px;
	color:white;
}